@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}


.main_container, footer {
  background-color: #1F2937;
  color: #FFFFFF;
}

.main_content, 
.information, 
.call_action {
  max-width: 1200px;
  margin: 0 auto;
}

.main_content > header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
 
}

.main_content > header > ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-weight: 100;
}

.main_content > header > ul a {
  text-decoration: none;
  color: white;
}

.main_content > header > ul a:hover {
  font-weight: bold;
}

.main_information {
  display: flex;
  gap: 30px;
  padding: 70px 0 90px 0;
 
}

.main_information h2 {
  font-size: 48px;
  font-weight: 700;
  
}

.main_information p {
  font-size: 18px;
  font-weight: 100;
}

.main_information button {
  margin: 20px 0;
  border-radius: 12px;
  border: none;

  width: 140px;
  height: 50px;

  background-color: #3882F6;
  color: #FFFFFF;

  font-size: 18px;
  font-weight: bold;
}
.main_information button:hover {
  background-color: #74a3f0;
  cursor: pointer;
}

.main_description, 
.mainImg_content {
  width: 50%;
}


.mainImg_content img{
  height: 260px;
  width: 100%;
}

.information {
  text-align: center;
  padding: 40px 0 80px 0;
}

.information_container {
  display: flex;
  justify-content: center;
  gap: 60px;
  font-weight: 100;
}

.information h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.information_card{
  width: 150px;
  text-align: center;
}

.information_card img{
  width: 150px;
  height: 150px;

  border-radius: 12px;
  border: 3px solid #2882F6;
}

.catchphrase {
  background-color: #E7E5EB;
}

.catchphrase_content {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 0;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.catchphrase_content h3{
  font-weight: 100;
  font-style: italic;
  font-size: 36px;
}

.catchphrase_content span {
  font-weight: bold;
  font-size: 20px;
  text-align: right;

  margin-right: 50px;
}

.call_action {
  padding: 80px 0;
}

.card_action {
  background-color: #3882F6;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  border-radius: 12px;

  color: #FFFFFF;
}

.card_action p{
  font-size: 20px;
  font-weight: bold;
}

.card_action span {
  font-weight: 100;
}

.card_action button {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;

  font-size: 16px;
  font-weight: bold;
}